@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}


h1{
    font-size: clamp(2.5rem, -1.875rem + 14vw, 6rem);
}

.section{
    @apply px-10 md:px-16 lg:px-32 xl:px-72
}

.page{
  @apply  min-h-[90vh]
}


.btn{
  @apply text-white uppercase bg-red-600 duration-300  hover:bg-[#4A4A4B] px-6 py-4
}

